/*
*   Vars and often used Classes
*/

.flex-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
*   Defaults and Main
*/
 html {
    color-scheme: dark;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    scroll-behavior: smooth;
 }

 body {
    padding: 0px;
    margin: 0px;
 }

 main {
    margin-top: 20em;
    margin-bottom: 70em;

    width: 70%;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(48, 48, 48, 0.575);
    padding: 1%;
}
/*
*   Header
*/
nav {
    display: flex;
    justify-content: center;
    width: 50%;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    top: -1em;
    background-color: rgba(165, 165, 165, 0.658);
    width: 100%;
    height: 1%;
    filter:blur(20px);

    display: flex;
    justify-content: center;

    padding-top: 1%;
    padding-bottom: 1%;

    transition: all 0.2s;
}

header:hover {
    filter:blur(0);
    height: auto;
    top: 0;

}

.navElem {
    color: rgb(97, 97, 97);
    text-decoration: none;
    border: 3px solid black;
    padding: 1em;
}
/*
*   Images
*/

.social-media-logos {
    width: 5em;
    margin: 2em;

    transition: .5s ease;
}
/*
*   Background
*/
#background {
    width: 100vw;
    height: 100vh;
    z-index: -50;
    position: fixed;
    top: 0;
    left: 0;
}
/*
*   Social Media
*/

#social-media-box {
    margin-top: 20em;
}

#social-media-box-inner {
    margin-left: auto;
    margin-right: auto;
}

.social-medias {
    cursor: pointer;
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.329);
}

.overlay {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(104, 104, 104, 0.822);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 0;

    transition: .5s ease;

    text-align: center;
}

.social-medias:hover .overlay {
    height: 100%;
}
.social-medias:hover .social-media-logos {
    filter: blur(3px);
}

/*
*   Social Media
*/

#projects-box {
    margin-top: 20em; 
}

.project {
    padding: 2em;
    background-color: rgb(97, 97, 97);
    margin-bottom: 4%;
    cursor: pointer;
}
.project:hover {
    transform: scale(1.01);
}